 .corpo-contato{
    background-image: linear-gradient(to right, #59c1ca, #007eff);
 }
 .container{
     display: flex;
     display: inline;
    
 }
 .conteudo{
    position: relative;
    
 }
.texto-aprensentacao{
    font-size: 140%;
    color: #f0f0f0;
    text-shadow: 3px 5px 15px #000;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
 }
.formulario .dados{
    display: flex;
    flex-direction: column;
}
.formulario{
    padding: 4em 2em;
    border-top: 10px solid #363636;
    border-bottom: 10px solid #363636;
    border-left: 1px solid #363636;   
    border-right: 1px solid #363636;   
    background-color: #fff; 
    margin-bottom: 2em;
    box-shadow: 2px 5px 15px;
    border-radius:15px;
}
.legenda{
    font-size: 130%;
    border-bottom: .01em inset rgba(0,0,0,.4);
    width: 100%; 
    margin: 1em 0;
    text-transform: uppercase;
}
input[name="email"],    
input[name="nome"],
input[name="assunto"],
textarea[name="mensagem"]{
    width: 100%;
    padding: 0.87em 1.5em;
    margin-bottom: 1em ;    
    outline: none;
    border: 1px solid #363636;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px; 
     border-radius: 15px;   
     box-shadow: 1px 5px 15px black;
}
input[name="email"]:focus,    
input[name="nome"]:focus,
input[name="assunto"]:focus,
textarea[name="mensagem"]:focus{
    background-color:#F8F8FF;
}
textarea::placeholder,
input::placeholder{
    color: #999;
    font-size: 90%;
    font-style: italic;
}
label{
    text-transform: uppercase;
    cursor: pointer;    
}
label[for="nome"]{
    position: relative;
}
label[for="nome"]::after{
    content: '';
    background-image: url(../img/usuario.png);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    width: 2.5em;
    height: 2.5em;
    background-color: #363636;
    position: absolute;
    top: 100%;
    left:0;
    z-index: 1;
    border: 1px solid #363636;

    -webkit-border-top-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px; 
    -moz-border-top-left-radius: 5px; 
    -moz-border-bottom-left-radius: 5px; 
    -ms-border-top-left-radius: 5px; 
    -ms-border-bottom-left-radius: 5px; 
     border-top-left-radius: 5px; 
     border-bottom-left-radius: 5px; 
}
#nome{
    width: calc(100% - 2em); /*Calculo utilizando 100% da largura - o tamanho do elemento que é 2em*/
    position: relative;
    left: 2em;
}
label[for="email"]{
    position: relative;
}
label[for="email"]::after{
    content: '';
    background-color: #363636;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border: 1px solid #363636;

    -webkit-border-top-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px; 
    -moz-border-top-left-radius: 5px; 
    -moz-border-bottom-left-radius: 5px; 
    -ms-border-top-left-radius: 5px; 
    -ms-border-bottom-left-radius: 5px; 
     border-top-left-radius: 5px; 
     border-bottom-left-radius: 5px;
}
#email{
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}

label[for="assunto"]{
    position: relative;
}
label[for="assunto"]::after{
    content: '';
    background-color: #363636;
    background-image: url(../img/assunto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border: 1px solid #363636;

    -webkit-border-top-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px; 
    -moz-border-top-left-radius: 5px; 
    -moz-border-bottom-left-radius: 5px; 
    -ms-border-top-left-radius: 5px; 
    -ms-border-bottom-left-radius: 5px; 
     border-top-left-radius: 5px; 
     border-bottom-left-radius: 5px;
}
#assunto{
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}
.botao-contato{
    text-transform: uppercase;
    padding: 1em 3em;
    align-items: flex-end;
    font-weight: bold;
    font-size: 90%;
    background-color: #363636;
    color: #fff;
    border: none;
    transition: .5s ease-in-out; 
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;   
    -webkit-border-radius: 10px ; 
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
     border-radius: 15px ;
     margin:  5em 2em 4em 2em;
     width: 90%;
     box-shadow: 2px 5px 15px;
}
.botao-contato:hover,
.botao-contato:focus{
    background-color: #888;
    color: #fff;
}
