.busca,
.menu,
.navegacao{
	display: inline-block;			/*usando o display inline-block para os elemetos escorregarem para baixo quando seu tamnho minimo for atingido*/
	vertical-align: middle;
}
.navegacao li{
	float: left;
}

@media (max-width: 768px){
	.menu{
		background: #f0f0f0;
		padding: 1em;
		margin: 0;

		height: 100%;
		width: 70%;
		max-width: 320px;

		position: fixed;
		z-index: 1;
		top: 0;
		left: -80%; /*Essa medida negativa deixará o menu para fora da tela*/
	
		transition: left 0.3s ease-out;
	}
	.menu-ativo .menu{
		left: 0;
	}
	.navegacao li{
		padding: .5em 0;
		width: 100%;
	}
	.menu-ativo::after{
		content: "";
		display: block;

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: rgba(0,0,0,0.4);
	}
}
@media not all and (max-width: 768px) {
    .menu-abrir,
    .menu-fechar {
		display: none;
	}
}
/*Codigo para o menu de de fechar no mobile*/
	.menu-abrir,
    .menu-fechar{
		background: none;
		border: 0;
		outline: 0;
		-webkit-appearance: none;
		font-size: 1.6em;
		text-indent: -999em;
	}    
	.menu-abrir{
		height: 0;
		width: .75em;
		padding-top: .125em;
		border-top: .375em double #000;
		border-bottom: .125em solid #000;

		vertical-align: middle;
		margin: 0.5em;
	}
	.menu-fechar{
		position: relative;
		height: 1em;
		width: 1em;
	}
	.menu-fechar::before{
		content: '\00D7';
		position: absolute;
		top: 0;
		left: 0;
		text-indent: 0;
	}